* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

@mixin bg_image($min-height) {
  content: '';
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  left: 0;
  height: 100%;
  min-height: $min-height;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 100%;
}

@mixin active_button {
  border: 1px solid #462255;
  padding: 0.6em 1em;
  border-radius: 8px;
  background: #462255;
  color: white !important;
  margin: 2em 0;
}

@mixin active_button_hover {
  background-color: #aa4465;
  text-decoration: none;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.brand {
  font-family: 'Sacramento', cursive;
  font-size: 2.7em;
}

.navbar {
  margin: 0 2em;

  &-light &-brand {
    color: white;
  }

  &-light .navbar-nav .nav-link {
    color: white;
  }

  &-light .navbar-toggler {
    color: white;
  }

  &-toggler {
    background-color: white;
    border-color: white;
  }
}

.divider {
  display: flex;
  margin: 1.2em auto;
  opacity: 0.9;
  width: 80%;

  .button-box {
    border: 1px solid white;
    font-size: 1.1em;
    margin: 0 0.55em 0 0.55em;
    padding: 0.5em 1em;
    width: 18%;
    text-align: center;
  }

  .hr {
    border-bottom: 1px solid white;
    margin: 0 0 1.5em 0;
    width: 40%;
  }
}

.home-container:before {
  background-image: url('images/ben-blennerhassett-G8rRItjrwkA-unsplash.jpg');
  @include bg_image(600px);
}

.about-container:before {
  background-image: url('images/simon-kuznetsov-vLSc7kNmvP4-unsplash.jpg');
  @include bg_image(600px);
}

.projects-container:before {
  background-image: url('images/simon-kuznetsov-vLSc7kNmvP4-unsplash_5472_3648.jpg');
  @include bg_image(1300px);
}

.home-container,
.about-container,
.projects-container {
  background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(60, 9, 108, 1) 100%);
  color: white;
  height: 100%;
  min-height: 600px;
  width: 100%;
  z-index: -1;
}

// home page

.home {
  display: flex;
  justify-content: center;

  &-description-box {
    border: 12px solid white;
    color: white;
    height: 200px;
    margin-top: 5.5em;
    padding: 1.5em;
    font-size: 1.4em;
    opacity: 0.8;
    text-align: center;
    width: 400px;
  }

  &-contact-box {
    border: 12px solid #f9f9f9;
    border-right: none;
    height: 190px;
    opacity: 0.6;
    left: 373px;
    position: absolute;
    width: 60px;
    top: 263px;

    .contact-icons {
      display: flex;
      flex-direction: column;
      text-align: center;

      .icon {
        justify-content: center;
        font-size: 1.3em;
        color: white;
        margin: 0.7em 0;
      }

      .icon:hover {
        color: pink;
      }
    }

    .contact-icons a:hover {
      color: pink;
    }
  }

  &-bottom-box {
    position: absolute;
    border: 12px solid #f9f9f9;
    height: 34px;
    width: 360px;
    top: 144px;
    left: 47px;
    border-top: none;
    border-left: none;
  }
}

// about me page

.about {
  font-size: 1.2em;
  opacity: 0.9;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2em;
  width: 60%;
  border: 12px solid white;
  padding: 2em;
}

// projects page

.projects-container {
  min-height: 1300px !important;

  .projects {
    ul,
    li {
      padding: 0;
      text-decoration: none;
      list-style: none;
    }

    .main-projects,
    .extra-projects {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 80%;

      a {
        text-decoration: none;
      }

      .wide-card,
      .small-card {
        border: 12px solid white;
        color: white;
        display: flex;
        margin: 1.6em 0;
        opacity: 0.9;

        .image-section {
          width: 60%;
        }

        .details-section {
          height: 100%;
          overflow: scroll;
          padding: 1em;
          width: 40%;

          .description {
            margin: 1.5em 0;
          }

          .tech-ul {
            display: flex;
            margin: 0.5em 0;
            flex-wrap: wrap;
            font-size: 0.75em;
            text-align: end;

            .tech-li {
              border: 1px solid white;
              border-radius: 10px;
              font-weight: lighter;
              margin: 0.5em 0.5em 0.5em 0;
              padding: 0.5em 1em;
            }
          }
        }
      }

      .wide-card:hover {
        border-color: #936c7e;
      }
    }

    .extra-projects {
      flex-direction: row;
      justify-content: space-around;

      li {
        width: 33%;
        padding: 0.6em;
      }

      .small-card {
        border: 1px solid white;

        .details-section {
          width: 100%;
        }
      }

      .small-card:hover {
        border-color: #936c7e;
      }
    }
  }
}

// blogs page

.blogs-container,
.admin-auth-container,
.auth-form,
.post-form-container {
  color: #462255;

  a {
    color: #462255 !important;
  }

  a:hover,
  a:active,
  a:focus {
    color: #aa4465 !important;
  }

  .navbar {
    &-toggler {
      background-color: white;
      border-color: #462255;
    }
  }

  .blogs {
    margin: 2.5em auto;
    width: 80%;

    .divider {
      color: #462255;

      .button-box,
      .hr {
        border-color: #462255;
      }
    }

    ul.blog-posts {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      padding-left: 0;
      text-decoration: none;
      width: 84%;

      a.create-post-button {
        @include active_button;
        margin: 1em 78%;
        width: 20%;
      }

      a.create-post-button:hover {
        @include active_button_hover;
      }

      li.post {
        border-bottom: 1px solid lightgray;
        list-style-type: none;
        margin: 2em;
        padding-bottom: 3em;
        word-break: break-word;

        .post-title {
          text-transform: capitalize;
        }

        .post-body {
          margin: 1em 0 0 0;
        }

        a.edit {
          @include active_button;
        }

        a.edit:hover {
          @include active_button_hover;
        }
      }
    }
  }
}

// admin section

.auth-form,
.post-form {
  form {
    margin: 3em auto;
    width: 40%;

    .error-message {
      color: red;
      margin: 2em;
    }

    .success-message {
      color: green;
      margin: 2em;
    }

    button {
      width: 100%;
      margin-top: 2em;
      background-color: #462255;
    }

    button:hover {
      background-color: #aa4465;
      border-color: #aa4465;
    }
  }
}

.post-form {
  width: 80%;
  margin: 0 auto;

  form {
    width: 100% !important;

    button {
      width: 40%;
      padding: 1em;
      margin: 2em 30%;
    }
  }

  a.back {
    @include active_button;
  }

  a:hover {
    @include active_button_hover;
  }
}
