$phone_screen_width: '425px';
$tablet_screen_width: '768px';
$sm_laptop_screen_width: '1024px';
$laptop_screen_width: '1440px';
$large_screens_width: '2560px';

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

@mixin bg_image($min-height) {
  content: '';
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  left: 0;
  height: 100%;
  min-height: $min-height;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 100%;
}

@mixin active_button {
  border: 1px solid #462255;
  padding: 0.6em 1em;
  border-radius: 8px;
  background: #462255;
  color: white !important;
  margin: 2em 0;
}

@mixin active_button_hover {
  background-color: #aa4465;
  text-decoration: none;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.brand {
  font-family: 'Sacramento', cursive;
  font-size: 2.7em;

  @media (max-width: $phone_screen_width) {
    font-size: 1.9em;
  }

  @media (min-width: $large_screens_width) {
    font-size: 4em;
  }
}

.navbar {
  margin: 0 2em;

  &-light &-brand {
    color: white;
  }

  &-light &-brand:hover,
  &-light &-brand.active,
  &-light &-brand:active,
  &-light &-brand:focus {
    color: purple !important;
  }

  &-light .navbar-nav .nav-link {
    color: white;
  }

  &-light .navbar-toggler {
    color: white;
  }

  &-toggler {
    background-color: white;
    border-color: white;
  }
}

a.nav-link.active,
a.nav-link:active,
a.nav-link:hover,
a.nav-link:focus {
  color: pink !important;
}

.divider {
  display: flex;
  margin: 1.2em auto;
  opacity: 0.9;
  width: 80%;

  .button-box {
    border: 1px solid white;
    font-size: 1.1em;
    margin: 0 0.55em 0 0.55em;
    padding: 0.5em 1em;
    width: 18%;
    text-align: center;
  }

  .hr {
    border-bottom: 1px solid white;
    margin: 0 0 1.5em 0;
    width: 40%;
  }
}

@mixin divider_color {
  .divider {
    color: #462255;

    .button-box,
    .hr {
      border-color: #462255;
    }
  }
}

.spinner {
  margin: 0 auto;
  color: #462255;
  text-align: center;
}

.home-container:before {
  background-image: url('images/ben-blennerhassett-G8rRItjrwkA-unsplash.jpg');
  @include bg_image(600px);
}

.home-container {
  background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(60, 9, 108, 1) 100%);
  color: white;
  height: 100%;
  min-height: 600px;
  width: 100%;
  z-index: -1;
}

// home page

.home {
  display: flex;
  justify-content: center;

  &-description-box {
    border: 12px solid white;
    color: white;
    height: 200px;
    margin-top: 5.5em;
    padding: 1.5em;
    font-size: 1.4em;
    opacity: 0.8;
    text-align: center;
    width: 400px;
  }

  &-contact-box {
    border: 12px solid #f9f9f9;
    border-right: none;
    height: 190px;
    opacity: 0.6;
    left: 373px;
    position: absolute;
    width: 60px;
    top: 263px;

    .contact-icons {
      display: flex;
      flex-direction: column;
      text-align: center;

      .icon {
        justify-content: center;
        font-size: 1.3em;
        color: white;
        margin: 0.7em 0;
      }

      .icon:hover {
        color: pink;
      }
    }

    .contact-icons a:hover {
      color: pink;
    }
  }

  &-bottom-box {
    position: absolute;
    border: 12px solid #f9f9f9;
    height: 34px;
    width: 360px;
    top: 144px;
    left: 47px;
    border-top: none;
    border-left: none;
  }
}

// about me page
.about-container {
  background: white;
  height: 100%;
  min-height: 600px;
}
.about {
  .divider {
    width: auto;
  }
  @include divider_color;

  font-size: 1.2em;
  opacity: 0.9;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2em;
  width: 70%;

  a {
    color: pink;
  }
}

// projects page

.projects-container {
  min-height: 1300px !important;

  .projects {
    @include divider_color;

    ul,
    li {
      padding: 0;
      text-decoration: none;
      list-style: none;
    }

    .main-projects,
    .extra-projects {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 80%;

      a {
        text-decoration: none;
      }

      .wide-card,
      .small-card {
        border-radius: 8px;
        background-color: #f9f9f9;
        box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.1);
        color: #462255;
        display: flex;
        margin: 1.6em 0;

        .image-section {
          width: 60%;
        }

        .details-section {
          height: 100%;
          overflow: scroll;
          padding: 1em;
          width: 40%;

          .title-section {
            display: flex;
            justify-content: space-between;

            .links {
              padding: 0.3em 0;
            }

            .links a {
              color: darkgray;
              text-decoration: none;
              padding: 0.2em 0.5em;
            }

            .links a:hover,
            a:focus,
            a.active,
            a:active {
              color: pink;
            }
          }

          .description {
            margin: 1.5em 0;
          }

          .tech-ul {
            display: flex;
            margin: 0.5em 0;
            flex-wrap: wrap;
            font-size: 0.75em;
            text-align: end;

            .tech-li {
              border: 1px solid #462255;
              border-radius: 10px;
              font-weight: lighter;
              margin: 0.5em 0.5em 0.5em 0;
              padding: 0.5em 1em;
            }
          }
        }
      }

      .wide-card:hover,
      .small-card:hover {
        border: 2px solid #eeeeee;
        cursor: default;
      }
    }

    .extra-projects {
      flex-direction: row;
      justify-content: space-around;

      li {
        width: 33%;
        padding: 0.6em;
      }

      .small-card {
        .details-section {
          width: 100%;
        }
      }
    }
  }
}

// blogs page
.about-container,
.blogs-container,
.projects-container,
.admin-auth-container,
.auth-form,
.post-form-container,
.post-container {
  color: #462255;

  a {
    color: #462255 !important;
  }

  a:hover,
  a:active,
  a:focus {
    color: #aa4465 !important;
  }

  .navbar {
    &-toggler {
      background-color: white;
      border-color: #462255;
    }
  }

  .blogs {
    margin: 2.5em auto;
    width: 80%;

    .divider {
      color: #462255;

      .button-box,
      .hr {
        border-color: #462255;
      }
    }

    ul.blog-posts {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      padding-left: 0;
      text-decoration: none;
      width: 84%;

      a.create-post-button {
        @include active_button;
        margin: 1em 78%;
        width: 20%;
      }

      a.create-post-button:hover {
        @include active_button_hover;
      }

      li.post {
        border-bottom: 1px solid lightgray;
        list-style-type: none;
        margin: 2em;
        padding-bottom: 3em;
        word-break: break-word;

        .post-title {
          text-transform: capitalize;
        }
        .post-body {
          margin: 1em 0 0 0;
        }

        a {
          text-decoration: none;
        }

        a.edit {
          @include active_button;
        }

        a.edit:hover {
          @include active_button_hover;
        }
      }
    }
  }
}

// admin section

.auth-form,
.post-form {
  form {
    margin: 3em auto;
    width: 40%;

    button {
      width: 100%;
      margin-top: 2em;
      background-color: #462255;
    }

    button:hover {
      background-color: #aa4465;
      border-color: #aa4465;
    }
  }
}

@mixin display_message($color) {
  color: $color;
  margin: 2em;
}

.post-form {
  width: 80%;
  margin: 0 auto;

  form {
    width: 100% !important;

    .error-message {
      @include display_message(red);
    }

    .success-message {
      @include display_message(green);
    }

    button {
      width: 40%;
      padding: 1em;
      margin: 2em 30%;
    }
  }

  a.back {
    @include active_button;
  }

  a:hover {
    @include active_button_hover;
  }
}

// post page
.post-container {
  .post {
    width: 70%;
    margin: 4em auto;
    text-align: left;

    &-title {
      text-transform: capitalize;
    }

    &-body {
      margin: 2em auto;
    }

    &-actions {
      display: flex;
      justify-content: center;

      a.edit,
      button {
        @include active_button;
      }
      a.edit:hover,
      button:hover {
        @include active_button_hover;
      }

      a {
        margin-right: 1em;
      }
      button {
        background-color: red;
        margin-left: 1em;
      }
    }
  }
}

// responsiveness
@media screen and (max-width: $sm_laptop_screen_width) {
  .navbar {
    margin: 0 1em;

    &-nav {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    .nav-link {
      font-size: 1.1em;
      padding: 0.5em 1em;
    }

    &-toggler {
      padding: 0.1rem 0.15rem;
      font-size: 1em;
    }
  }

  .nav-link {
    padding: 0.5em;
  }

  .blogs-container .blogs .divider,
  .admin-auth-container .blogs .divider,
  .auth-form .blogs .divider,
  .post-form-container .blogs .divider,
  .post-container .blogs .divider,
  .divider {
    .button-box {
      font-size: 1em;
      padding: 0.5em;
      width: 70%;
    }
  }

  .home {
    &-description-box {
      height: 300px;
      margin: 0;
      position: absolute;
      top: 58%;
      left: 50%;
      width: 80%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    &-contact-box {
      border: none;
      height: 50px;
      opacity: 1;
      left: 25%;
      position: absolute;
      width: 50%;
      top: 70%;

      .contact-icons {
        flex-direction: row;
        font-size: 1em;
        justify-content: space-around;
        margin-top: 1.2em;

        a.icon {
          font-size: 1.3em;
          justify-content: center;
          margin: 0;
          padding: 0;
        }
      }
    }

    &-bottom-box {
      display: none;
    }
  }

  .about {
    border: none;
    font-size: 0.9em;
    margin-top: 0.3em;
    padding: 0.8em;
    width: 90%;
  }

  .projects-container {
    overflow: scroll;

    .projects {
      margin-bottom: 2em;

      .main-projects,
      .extra-projects {
        .wide-card,
        .small-card {
          border-width: 5px;
          flex-direction: column;
          margin: 1em 0;

          .image-section {
            width: 100%;
          }

          .details-section {
            font-size: 1em;
            height: auto;
            padding: 1em;
            width: 100%;

            .title-section h3 {
              font-size: 1.2em;
            }

            .tech-ul .tech-li {
              padding-top: 0.3em;
              padding-bottom: 0.3em;
            }
          }
        }
      }

      .extra-projects {
        flex-direction: column;

        li {
          width: 100%;
          padding: 0.6em;

          .small-card {
            border-width: 1px;
            margin: 0;

            .details-section .description {
              margin: 0.3em;
            }
          }
        }
      }
    }
  }

  .blogs-container .blogs ul.blog-posts,
  .admin-auth-container .blogs ul.blog-posts,
  .auth-form .blogs ul.blog-posts,
  .post-form-container .blogs ul.blog-posts,
  .post-container .blogs ul.blog-posts {
    width: 100%;

    a.create-post-button {
      width: 63%;
      margin: 1em auto;
    }

    li.post {
      margin: 1.2em;

      .post-body {
        p img {
          width: 100% !important;
          height: 250px;
        }
      }
    }
  }
}

// for laptop screens only!
@media screen and (min-width: $sm_laptop_screen_width) and (max-width: $sm_laptop_screen_width) {
  .home {
    &-description-box {
      font-size: 1.7em;
      height: 300px;
      width: 60%;
    }
    &-contact-box {
      font-size: 1.5em;
    }
  }
}

@media screen and (min-width: $laptop_screen_width) and (max-width: 2559px) {
  .home {
    &-description-box {
      height: 300px;
      margin: 0;
      position: absolute;
      top: 58%;
      left: 50%;
      width: 45%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    &-contact-box {
      border: none;
      height: 50px;
      opacity: 1;
      left: 25%;
      position: absolute;
      width: 50%;
      top: 70%;

      .contact-icons {
        flex-direction: row;
        font-size: 1em;
        justify-content: space-around;
        margin-top: 1.2em;

        a.icon {
          font-size: 1.3em;
          justify-content: center;
          margin: 0;
          padding: 0;
        }
      }
    }

    &-bottom-box {
      display: none;
    }
  }
}

@media screen and (min-width: $large_screens_width) {
  .navbar {
    .nav-link {
      font-size: 2em;
    }

    &-toggler {
      font-size: 2em;
    }
  }

  .home {
    &-description-box {
      height: 400px;
      padding: 1.8em;
      font-size: 2.5em;
      width: 600px;
    }

    &-contact-box {
      height: 410px;
      left: 880px;
      width: 85px;
      top: 412px;

      .contact-icons {
        a.icon {
          font-size: 2.4em;
          margin: 1em 0;
        }
      }
    }

    &-bottom-box {
      height: 65px;
      width: 540px;
      top: 333px;
      left: 71px;
    }
  }

  .about {
    font-size: 3em;
  }

  .projects-container:before {
    min-height: 2000px;
  }

  .projects-container {
    min-height: 2000px !important;

    .projects {
      .main-projects,
      .extra-projects {
        .wide-card,
        .small-card {
          .details-section {
            font-size: 1.5em;
            .title-section h3 {
              font-size: 2em;
            }
          }
        }
      }
    }
  }
}
